<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Person</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:method="post" th:action="@{/people}" th:object="${person}">-->
<!--    <label for="surname">Фамилия</label>-->
<!--    <input type="text" th:field="*{surname}" id="surname"/><br/><br/>-->
<!--    <label for="name">Имя</label>-->
<!--    <input type="text" th:field="*{name}" id="name"/><br/><br/>-->
<!--    <label for="patronymic">Отчество</label>-->
<!--    <input type="text" th:field="*{patronymic}" id="patronymic"/><br/><br/>-->
<!--    <label for="dateOfBirth">Дата рождения</label>-->
<!--    <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth"/><br/><br/>-->
<!--    <input type="submit" value="Найти" id="submit">-->
<!--</form>-->


<!--&lt;!&ndash;<p th:text = "${person.getId()}">value</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p th:text = "${person.getFirstName()}">value</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p th:text = "${person.getSurname()}">value</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p th:text = "${person.getPatronymic()}">value</p>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->